<!doctype html>
<html>
  <head>
    <title>Projet vue js</title>


  </head>
  <body>
    <div id="app">
      <div @click="reverse()">
      {{ message }}
    </div>

    <button @click="increment()">cliquer ici {{count}}</button>

    <ul>
      <li v-for="name in names">{{name}}</li>
    </ul>

      <input type="text" v-model="newName">
      <button @click="add()">Envoyer</button>


    </div>
 </body><script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./vue.js"></script>
</html>